
<section class="comments">
	<header class="comments-header">		
		<div>
			<span class="comments-count"></span>
		</div>
		
		<div class="sort-buttons">
			<span>Sort</span>
			<button class="btn btn-white btn-likes">Likes</button>
			<button class="btn btn-default btn-newest">Newest</button>				
		</div>
		
	</header>
	<!-- Comments Render Here -->
</section>

